* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #aaa;
}

.menu a:hover {
  color: #00e7f9;
}

hr {
  border-color: #aaa;
}

.cadastro a {
  background: #00e7f9;
  border-radius: 4px;
  color: #000;
}

.cadastro a:hover {
  background: #000;
  color: #00e7f9;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
}

.titulo:hover {
  color: #00e7f9;
}

.cabecalho {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 16px;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu a {
  display: block;
  padding: 8px;
}

/* IMAGEM E SEARCH */

.principal {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-box {
  position: relative;
  margin-top: 10px;
}

.image-principal {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  width: 500px;
}

#busca {
  width: 50%;
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  outline: none;
  color: #000;
}

.botao-pesquisa {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  transition: background-color 0.3s;
}

.botao-pesquisa:hover {
  background-color: #f1f1f1;
}

/* BOX EVENTOS */
.principal-eventos {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.evento-itens {
  width: 95%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  background: #000;
  border-radius: 4px;
  margin-bottom: 20px;
}

.titulo-evento {
  font-size: 18px;
}

.data-evento,
.local-evento,
.desc-evento {
  color: #aaa;
}

.botao {
  background: #00e7f9;
  padding: 10px;
  color: #095155;
  border-radius: 4px;
  text-align: center;
}

/* PAGINA MEUS EVENTOS */
.eventos {
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventos h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.eventos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.evento-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.evento-card:hover {
  transform: scale(1.05);
}

/* MEUS EVENTOS */

.evento-card h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.evento-card p {
  margin-bottom: 10px;
  color: white;
}

.evento-card a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00e7f9;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.evento-card a:hover {
  background-color: #00c5db;
}

.titulo-evento {
  font-weight: bold;
  margin-bottom: 15px;
}

.data-evento,
.local-evento {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.desc-evento {
  margin-bottom: 20px;
}

.botao {
  margin-top: 10px;
}

/*  EVENTOS */

.search-box2 {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease;
}

#busca2 {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background: none;
  color: #666;
}

.botao-pesquisa {
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  background: none;
  border: none;
}

.pesquisa-container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#busca2:focus {
  outline: none;
}

/* PAGINA DE LOGIN */
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  border-radius: 8px;
}

.login-container h2 {
  color: white;
  margin-bottom: 10px;
}

.login-input-group {
  margin-bottom: 20px;
  color: white;
}

.login-input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #444;
  color: white;
}

.login-button-group {
  text-align: center;
}

.login-button-group button {
  padding: 10px 20px;
  background-color: #00e7f9;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.login-button-group button:hover {
  background-color: black;
  color: white;
}

.login-options a {
  display: block;
  text-align: center;
  color: azure;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  margin-top: 10px;
}

.login-options a:hover {
  color: black;
}

/* CADASTRO */
.cadastro-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  border-radius: 8px;
}

.cadastro-container h2 {
  color: white;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 20px;
  color: white;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="tel"],
.input-group input[type="date"],
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #444;
  color: white;
}

.input-group select {
  appearance: none;
  background-color: #444;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.input-group button {
  padding: 10px 20px;
  background-color: #00e7f9;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: black;
  color: white;
}

/* PÁGINA SOBRE */
.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.sobre-content {
  width: 70%;
  max-width: 800px;
  text-align: center;
}

.sobre-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #444;
}

.sobre-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* RDOAPE */
.linha-rodape {
  margin-top: 20px;
}

.rodape {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 180px;
  background: #000;
  width: 85%;
  margin: 10px auto 0 auto;
}

.rodape-itens {
  display: grid;
  place-self: start;
  padding: 20px;
}

.rodape h2 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.rodape p {
  color: #aaa;
  margin-bottom: 6px;
  color: azure;
}

.rodape p:hover {
  color: #00e7f9;
}

.rodape a:hover {
  color: #00e7f9;
}

/* Select-Evento */
.select-principal {
  display: grid;
  place-content: center;
  margin-top: 30px;
}

.select-item {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 15px;
  height: 500px;
  text-align: center;
}

.select-item-info {
  font-family: monospace;
  background: #0f1116;
  display: grid;
  border-radius: 4px;
  padding: 40px;
  text-align: start;
  place-content: start;
  gap: 15px;
}

.select-item-titulo {
  font-size: 32px;
}
.select-item-desc,
.select-item-data,
.select-item- {
  color: #aaa;
  font-size: 16px;
}

.select-item-img {
  display: block;
  max-width: 100%;
}

.select-item-img img {
  width: 600px;
  height: 500px;
  border-radius: 4px;
}

.select-item-reservar {
  margin-top: 15px;
  background: #00e7f9;
  color: #095155;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
}

/*Sobre*/
.principal-sobre {
  height: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sobre-conteudo {
  display: grid;
  gap: 10px;
  width: 700px;
  padding: 20px;
  margin-left: 120px;
}

.sobre-conteudo p {
  color: #aaa;
} 

/*Contato*/
.principal-contato {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  place-content: start center;
  margin-top: 30px;
  gap: 30px;
}

.contato-item {
  height: 500px;
  display: grid;
  place-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 10px;
}
.contato-item {
  height: 500px;
  display: grid;
  place-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 10px;
}

.contato-item p {
  color: #aaa;
}

/* MEDIAS QUERIE */
@media (max-width: 1920px) and (min-width: 1281px) {
  .principal-eventos {
    grid-template-columns: repeat(3, 1fr);
  }
  #busca {
    width: 50%;
    max-width: 400px;
    margin: auto;
  }
}

@media (max-width: 1280px) and (min-width: 874px) {
  .principal-eventos {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Pagina Select-Event */
  .select-principal {
    width: auto;
  }
  .select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }
.select-item-img img {
    max-width: 100%;
    height: auto;
}
}

 /* AQUI COMEÇA O PROBLEMA DA #BUSCA */
@media (max-width: 873px) and (min-width: 601px) {
  .cabecalho .menu li:not(.cadastro):not(:nth-child(2)) { /* Tira um dos itens da pagina cadastro, item eventos dentro da div cadastro. */
    display: none; 
}
.principal{ /* para evitar sobreposição com o rodapé */
  overflow: auto;
}
.principal::-webkit-scrollbar { /* Hide na scroll bar, tornando o overflow imperceptível */
  display: none;
}    
/* BOX DE EVENTO - CADA BOX DO GRID */
  .principal-eventos {
    grid-template-columns: repeat(1, 1fr);
  }
    .evento-itens{
  width: auto;
  }
  .image-principal {
    display: none;
  }
/* Pagina Select-Event */
  .select-principal {
    width: auto;
  }
  .select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }
.select-item-img img {
    max-width: 100%;
    height: auto;
}
}

@media (max-width: 600px) and (min-width: 501px) {
  .cabecalho .menu li:not(.cadastro):not(:nth-child(2)) { /* Tira um dos itens da pagina cadastro, item eventos dentro da div cadastro. */
    display: none; 
}
  .principal{ /* para evitar sobreposição com o rodapé */
  overflow: auto;
}
  .principal::-webkit-scrollbar { /* Hide na scroll bar, tornando o overflow imperceptível */
    display: none;
  }    
  /* BOX DE EVENTO - CADA BOX DO GRID */
  .principal-eventos {
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
  .evento-itens{
    width: auto;
      }
  .image-principal {
    display: none;
  }
  /* Pagina Select-Event */
  .select-principal {
    width: auto;
  }
  .select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }
.select-item-img img {
    max-width: 100%;
    height: auto;
}
/* RODA PÉ */
.rodape {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: auto; 
}
}

@media (max-width: 500px) {
  .cabecalho .menu li:not(.cadastro):not(:nth-child(2)) { /* Tira um dos itens da pagina cadastro, item eventos dentro da div cadastro. */
    display: none; 
}
  .principal{ /* para evitar sobreposição com o rodapé */
  overflow: auto;
}
  .principal::-webkit-scrollbar { /* Hide na scroll bar, tornando o overflow imperceptível */
    display: none;
  }    
  /* BOX DE EVENTO - CADA BOX DO GRID */
  .principal-eventos {
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
  .evento-itens{
    width: auto;
      }
  .image-principal {
    display: none;
  }
  /* Pagina Select-Event */
  .select-principal {
    width: auto;
  }
  .select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }
.select-item-img img {
    max-width: 100%;
    height: auto;
}
/* RODA PÉ */
.rodape {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: auto; 
}
}
